$project-color: #af1d2b;
$light-rose-bg: #faf6f8;
$inverse-color: #ffffff;

$project-logo-font-1: "Audiowide-Regular";
$project-logo-font-2: "Frijole-Regular";
$fontello: "Fontello";

$main-title-font-xl: 48px;
$main-title-font-lg: 42px;
$main-title-font-md: 36px;
$main-title-font-sm: 32px;
$main-title-font-xs: 28px;

$xs-max: 575.98px;
$sm-min: 576px;
$sm-max: 767.98px;
$md-min: 768px;
$md-max: 991.98px;
$lg-min: 992px;
$lg-max: 1199.98px;
$xl-min: 1200px;

$jumbotron-padding: 28px;

$project-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);

$navbar-height: 66px;

$nav-link-color: rgba(255, 255, 255, .65);
$nav-link-hover: rgba(255, 255, 255, .8);
$nav-link-active: rgba(255, 255, 255, 1);

$intro-logo-size-lg: 80px;
$intro-logo-margin-lg: 0 20px;
$intro-logo-size-md: 70px;
$intro-logo-margin-md: 0 12px;

$calc-input-bg: rgba(256, 256, 256, 0.5);
$calc-ok-color: #045e28;

$contact-bg: #574040;

$hr-light-color: rgba(255, 255, 255, .5);

$st-white-background: rgba(255, 255, 255, .3);

$project-transition: .3s;